In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow
import sklearn
import keras

In [60]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer

In [79]:
df = pd.read_csv("dataset.csv")

In [80]:
df.columns = [["FirstNum", "Operator", "SecondNum", "Result"]]

In [81]:
df.head()

  FirstNum Operator SecondNum   Result
0     7992        +      2004   9996.0
1     8435        +      8647  17082.0
2     1849        +      6876   8725.0
3     3607        +      5278   8885.0
4     7144        +      9303  16447.0

In [82]:
X = df.iloc[:, 0:3].values

In [83]:
Y = df.iloc[:, -1:].values

In [84]:
labelEncoder = LabelEncoder()
X[:,1] = labelEncoder.fit_transform(X[:, 1])

In [85]:
transformer = ColumnTransformer(transformers=[("OperatorTransformer", OneHotEncoder(), [1])], remainder = "passthrough")

In [86]:
X = transformer.fit_transform(X.tolist())

In [90]:
standardScaler = StandardScaler()
X[:, 4:6] = standardScaler.fit_transform(X[:, 4:6])

In [91]:
Y = standardScaler.fit_transform(Y)

array([[0.0, 1.0, 0.0, 0.0, 1.0362454233055773, -1.0375010804754252],
       [0.0, 1.0, 0.0, 0.0, 1.1896960549131714, 1.2631848327357227],
       [0.0, 1.0, 0.0, 0.0, -1.0916264276322338, 0.6498302109839625],
       ...,
       [1.0, 0.0, 0.0, 0.0, -0.6551754212539753, 1.3151346877683394],
       [1.0, 0.0, 0.0, 0.0, 0.7619047907249576, -0.8484036081567007],
       [1.0, 0.0, 0.0, 0.0, -0.7951168550450994, -0.3815475775969193]],
      dtype=object)